{% extends "invictus/header.html" %}
{% block content %}
{% load static from staticfiles %}
	<!-- about -->
	<div class=" w3ls-section" id="inner-about" style="background-color: white;">
		<div class="container">
			<h3 class="h3-w3l">about us</h3>
			<!-- about bottom-->
			<div class="about-bottom">
				<div class="col-md-6 about-w3right">
					
				</div>
				<div class="col-md-6 about-w3left"> 
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h5 class="panel-title asd">
                  <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>About us
                  </a>
                </h5>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                <div class="panel-body panel_text">
                  Invictus Sacco is a Savings and Credit Co-operative Society registered in 1973 under the Co-operative Societies Act of the Laws of Kenya. The Sacco primarily mobilizes Savings and Deposits and extends Credit to its members thereby empowering them economically and socially.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h5 class="panel-title asd">
                  <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Our Vision
                  </a>
                </h5>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                <div class="panel-body panel_text">
                  To Be The Global Financial Movement That Enables You To Realize Your Dreams And Aspirations.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h5 class="panel-title asd">
                  <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Our Mission
                  </a>
                </h5>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false" style="height: 0px;">
                <div class="panel-body panel_text">
                 Transform Lives Through The Provision Of Innovative Financial Solutions.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                <h5 class="panel-title asd">
                  <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Core Values
                  </a>
                </h5>
              </div>
              <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour" aria-expanded="true">
                <div class="panel-body panel_text">
                  Innovation, Excellence, Boldness, Unity, Integrity and Sound Governance.
                </div>
              </div>
            </div>
          </div> 
				</div> 
				<div class="clearfix"> </div>
			</div>		
		</div>	
			<!-- //about-bottom -->

			<div class="container">
			<h3 class="h3-w3l">Welcome to Invictus sacco</h3>
			<p>Invictus Sacco is a Savings and Credit Co-operative Society registered in 1980 under the Co-operative Societies Act of the Laws of Kenya. The Sacco primarily mobilizes Savings and Deposits and extends Credit to its members thereby empowering them economically and socially.

			Through visionary leaders, committed members and economic environments over the course of our rich history, Invictus Sacco has since prospered.We have continued to grow in diverse membership and inclusive service offerings for individuals, corporate institutions and organized Catholic Church groups.

			Today, Waumini Sacco is a leading progressive Sacco with membership of over 21,000 from over 800 Catholic institutions across 26 Catholic Dioceses in Kenya, Catholic Church Faithfuls and past employees of Catholic institutions “Mzalendo”.

			In March 2009, the Sacco responded to members banking needs by introducing the Front Office Service Activity (FOSA) to offer banking services to its members. To date the Sacco has incorporated Mobile Baking Services (M-Sacco), and currently has two FOSA banking halls (one in Nairobi HQ and one in Nakuru branch).

			The Sacco has set up two branches in NAKURU and KISII, a liaison office in RONGAI and is in the process of opening several other liaison offices across the country.</p>
			<br>

			<h4 style="color: #21a7e2">Objectives of the Sacco</h4>
			<ul>
				<li><p>To receive deposits and advance loans to our members</p></li>
				<li><p>To promote economic and social development by availing affordable credit to our members</p></li>
				<li><p>To continuously educate members on cooperative and economic development</p></li>
			</ul>

			<br>
			<h4 style="color: #21a7e2">Our core values</h4>
			<ul>
				<li><strong>We are here to serve:<strong><p>Our purpose defines our commitment to our work every day.</p></li>
				<li><strong>We value our customers:</strong><p>Our customers shall experience excellence in all engagement with us at all times.</p></li>
				<li><strong>We give our all:</strong><p>Our energy is harnessed and channeled towards achievement of our mission and vision.</p></li>
				<li><strong>We listen:</strong><p>We guarantee to walk with our customers to a sustainable, brighter future.</p></li>
			</ul>
		</div>	
	</div>
	<!-- //about -->
	<!-- //Awards-->
	<div class="awards-agileinfo  w3ls-section">
		<div class="awardsw3-agileits banner-agileinfo">
			<div class="container">
				<div class="w3ls_banner_bottom_grids">
					<div class="col-sm-3 col-xs-3 w3ls_about_guage">
						<h4>Awards</h4>
						<canvas id="gauge1" width="200" height="100"></canvas>
					</div>
					<div class="col-sm-3 col-xs-3 w3ls_about_guage">
						<h4>Followers</h4>
						<canvas id="gauge2" width="200" height="100"></canvas>
					</div>
					<div class="col-sm-3 col-xs-3 w3ls_about_guage">
						<h4>Branches</h4>
						<canvas id="gauge3" width="200" height="100"></canvas>
					</div>
					<div class="col-sm-3 col-xs-3 w3ls_about_guage">
						<h4>Support</h4>
						<canvas id="gauge4" width="200" height="100"></canvas>
					</div>
					<div class="clearfix"> </div>
				</div> 
			</div>
		</div>
		<script src="{% static 'invictus/js/jquery.gauge.js' %}"></script>
		<script>
			$(document).ready(function (){
				$("#gauge1").gauge(70,{color: "#ef3708",unit: " %",type: "halfcircle"});
				$("#gauge2").gauge(70, {color: "#5f48f9", unit: " %",type: "halfcircle"});
				$("#gauge3").gauge(75, {color: "#10b55d",unit: " %",type: "halfcircle"});
				$("#gauge4").gauge(90, {color: "#20c4da",unit: " %",type: "halfcircle"});
			});
		</script> 
	</div>
	<!-- //Awards-->
	<!-- about -->
	<div> 
		
	</div>
<!-- //team -->   
{% endblock %}