{% extends "invictus/header.html" %}
{% block content %}
{% load static from staticfiles %}

	<div class=" w3ls-section" id="inner-about" style="background-color: white;">
		<div class="container">
			<h3 class="h3-w3l" style="color: #21a7e2;">Business Quick Fix</h3>
		
		<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-4 sidenav">
    <img src="{% static 'invictus/images/banner.jpg' %}" style="height: 150px;" alt=" " class="img-responsive"/>
    <br>
      <hr>
      <br>
					 <div class="panel-group">
				  <div class="panel panel-default">
				    <div class="panel-heading">
				      <button data-toggle="collapse" data-target="#collapse1"><h4 style="font-size: 30px;color: #21a7e2;">Loan calculator</h4></button>
				    </div>
				    <div id="collapse1" class="panel-collapse collapse">
				      <div class="panel-body">
				      	<div class=" w3l_contact_form">
					 
					<form action="" method="POST">
						<h4 style="color: #44e221;">Loan amount</h4>
						<div class="slidecontainer">
					      <input type="range" min="1000" max="10000" value="50" class="slider" id="amount" onchange="calculate();" data-rangeslider> 
					    </div>
					   <input type="text" id="amount_" value="" readonly=""  required="">
					    <h4 style="color: #44e221;">Loan interest (%)</h4>
						<div class="slidecontainer">
						      <input type="range" min="1" max="100" value="1" class="slider" id="apr" data-rangeslider onchange="calculate();"> 
						  </div>
						<input type="text" id="interest" value="" readonly=""  required="">
						<h4 style="color: #44e221;">Repayment period(months)<br> Max(6 years)</h4>
						  <div class="slidecontainer">
					      <input type="range" min="1" max="72" value="1" class="slider" id="years" data-rangeslider onchange="calculate();">
					    </div>
						<input type="text"  value=""  id="period" readonly="" required="">
					</form>
					<div class="panel panel-default">
					   <div class="panel-body" style="background-color: #dee2e5;">
					    <h4>Total Payment</h4><span style="color: #21a7e2; font-size: 22px;" id="total">0.00</span>
					   	<h4>Monthly Payment</h4><span style="color: #21a7e2; font-size: 22px;" id="payment">0.00</span>
					   	<h4>Total Interest</h4><span style="color: #21a7e2; font-size: 22px;" id="totalinterest">0.00</span>
					   </div>
					</div>

				      </div>
				    </div>
				  </div>
				</div> 
			</div>
    </div>
    <div class="col-sm-6 text-left"> 
      <h3>What is it?</h3>
      <p>This is top up advance for members who already have business loan.</p>
      <hr>
      <h3>Features</h3>
      <ul class="list-group">
	  <li class="list-group-item">Advance for business people.</li>
	  <li class="list-group-item">Up-to-date Existing Business Development loan.</li>
	  <li class="list-group-item">Unsecured Advance.</li>
	  <li class="list-group-item">Loan term up to 4 months.</li>
	  <li class="list-group-item">Monthly/daily repayment frequency.</li>
	  <li class="list-group-item">No LSF required.</li>
	  <br>
	  <hr>
	  <h3>Benefits</h3>
	  <li class="list-group-item">Flexible borrowing options.</li>
	  <li class="list-group-item">The application process is short and simple.</li>
	  <li class="list-group-item">Unsecured Advance.</li>
	  <li class="list-group-item">Flexible repayments.</li>
	  <li class="list-group-item">Interest on reducing balance.</li>
	  <br>
	  <hr>
	  <h3>Requirements</h3>
	  <li class="list-group-item">You need to be a Sacco member.</li>
	  <li class="list-group-item">A duly completed loans application form.</li>
	  <br>
	</ul>
    </div>
    <div class="col-sm-2 sidenav">
    	<h3 style="color: #44e221;">Loan products</h3>
    	<br>
    	 <div class="list-group">
		  <a href="#" class="list-group-item">Development Loan</a>
		  <a href="#" class="list-group-item">Biashara Loan</a>
		  <a href="#" class="list-group-item">Salary Advance</a>
		  <a href="#" class="list-group-item">Business Quick Fix</a>
		  <br><hr>
		  <h3 style="color: #44e221;">Saving products</h3>
    	<br>
    	 <div class="list-group">
		  <a href="#" class="list-group-item">Timiza savings account</a>
		  <a href="#" class="list-group-item">Jipange Investment account</a>
		</div>       
    </div>
  </div>
</div>
	
		</div>	
			

			
	</div>

{% endblock %}