<html>
<head>
<title>JavaScript Loan Calculator</title>
<style type="text/css">
  .slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    background: #4CAF50;
    cursor: pointer;
}
</style>
</head>
<body bgcolor="white">
<form name="loandata">
    <div>Enter loan information.</div>
      <div>Amount of the loan (any currency):</div>
          <div class="slidecontainer">
      <input type="range" min="1000" max="10000" value="50" class="slider" id="amount" data-rangeslider> 
      <input type="text" name="principal" size="12" onchange="calculate();" id="amount_" readonly="">
      </div>
      <div>
      <p>Annual percentage rate of interest:</p>
      <div class="slidecontainer">
      <input type="range" min="1" max="100" value="1" class="slider" id="interest" data-rangeslider> 
        <input type="text" name="interest" size="12" id="interest_" readonly="" onchange="calculate();"></div>
    </div>
    <div>
      <p>Repayment period in months:</p>
       <div class="slidecontainer">
      <input type="range" min="1" max="100" value="1" class="slider" id="period" data-rangeslider> 
      <input type="text" name="years" size="12"  id="period_" readonly=""  onchange="calculate();"></div>
    </div>
      <div>
      <input type="button" value="Compute" onclick="calculate();">
    </div>
    <div>
      <b>Payment Information:</b>
    </div>
    <div>
      <p>Your monthly payment will be:</p>
      <div><input type="text" name="payment" id="payment" size="12"></div>
    </div>
    <div>
      <p>Your total payment will be:</p>
      <div><input type="text" name="total" id="total" size="12"></div>
    </div>
    <div>
      <p>Your total interest payments will be:</p>
      <div><input type="text" name="totalinterest" id="totalinterest" size="12"></div>
    </div>
</form>

<script>

var slider = document.getElementById("amount");
document.getElementById("amount_").value = slider.value;

slider.oninput = function() {
document.getElementById("demo").value = this.value;
}

var inte = document.getElementById("interest");
document.getElementById("interest_").value = inte.value;

inte.oninput = function() {
document.getElementById("interest_").value = this.value;
}

var peri = document.getElementById("period");
document.getElementById("period_").value = peri.value;

peri.oninput = function() {
document.getElementById("period_").value = this.value;
}

</script>

<script language="JavaScript">
function calculate() {
    // Get the user's input from the form. Assume it is all valid.
    // Convert interest from a percentage to a decimal, and convert from
    // an annual rate to a monthly rate. Convert payment period in years
    // to the number of monthly payments.
    var principal = document.getElementById("amount_");
    var interest = document.getElementById("interest_") / 100 / 12;
    var payment = document.getElementById("period_");

    // Now compute the monthly payment figure, using esoteric math.
    var x = Math.pow(1 + interest, payment);
    var monthly = (principal*x*interest)/(x-1);

    // Check that the result is a finite number. If so, display the results.
    if (!isNaN(monthly) && 
        (monthly != Number.POSITIVE_INFINITY) &&
        (monthly != Number.NEGATIVE_INFINITY)) {

        document.getElementById("payment").value = round(monthly).value;
        document.getElementById("total").value = round(monthly * payment).value;
        document.getElementById("totalinterest").value = round((monthly * payment) - principal).value;
    }
    // Otherwise, the user's input was probably invalid, so don't
    // display anything.
    else {
        document.getElementById("payment").value = "";
        document.getElementById("total").value = "";
        document.getElementById("totalinterest").value = "";
    }
}

// This simple method rounds a number to two decimal places.
function round(x) {
  return Math.round(x*100)/100;
}
</script>
</body>
</html>