{% extends "invictus/header.html" %}
{% block content %}
{% load static from staticfiles %}

 <!-- banner -->
    <div class="container">
      <div class="banner-text agileits-w3layouts">
        <div  id="top" class="callbacks_container">
          <ul class="rslides" id="slider3">
            <li>
              <div class="banner-textagileinfo">
                <h6>Welcome To Invictus Sacco</h6>  
                <h3>Savings ,loans and efficient services.</h3>  
                <p>We work with our customers to make them become stable and grow steadily to prosperity.</p>
                <div class="agileits-banner-bot">
                  <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                    <h5>01</h5>
                    <h4>Savings</h4>  
                    <p>We turn your potential to graet success.</p>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                    <h5>02</h5>
                    <h4>Loans</h4>  
                    
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                    <h5>03</h5>
                    <h4>Services</h4>
                    
                  </div>
                  <div class="clearfix"></div>
                </div>  
              </div>  
            </li>
            <li>
              <div class="banner-textagileinfo"> 
                <h6>Welcome To Invictus Sacco</h6>
                <h3>Savings ,loans and efficient services.</h3>  
                <p>We work with our customers to make them become stable and grow steadily to prosperity.</p>
                <div class="agileits-banner-bot">
                  <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                    <h5>01</h5>
                    <h4>Savings</h4>                   
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                    <h5>02</h5>
                    <h4>Loans</h4>  
                    <p>We turn your dreams into reality.</p>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                    <h5>03</h5>
                    <h4>Services</h4>
                    
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>  
            </li>
            <li>
              <div class="banner-textagileinfo">
                <h6>Welcome To Invictus Sacco</h6>
                <h3>Savings ,loans and efficient services.</h3>  
                <p>We work with our customers to make them become stable and grow steadily to prosperity.</p>
                <div class="agileits-banner-bot">
                  <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                    <h5>01</h5>
                    <h4>Savings</h4>   
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                    <h5>02</h5>
                    <h4>Loans</h4>  
                    
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                    <h5>03</h5>
                    <h4>Services</h4>
                    <p>We offer exceptional customer service</p>
                  </div>
                  <div class="clearfix"></div>
                </div>  
              </div>  
            </li> 
          </ul>
        </div>
      </div>
     </div>
  </div>



  <!-- about -->
  <div class="home-about w3ls-section">
    <div class="container">
      <!-- about top-->
      <div class="w3ls-about agile-section">
          <div class="w3-agileits-about-grids">
            <div class="col-md-6 col-sm-6 col-xs-6 agileits-title">
              <h3>what makes <br><span style="color: #21a7e2;">Invictus Sacco</span> <br> Unique?</h3> 
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6  agile-about-bottom-right">
              <p>Invictus Sacco is a Savings & Credit Society registered in Kenya since 6th July 1973 and has been licensed by SASRA from 22nd July 2013 to operate Front Office services. We promote thrift among our members by mobilizing savings and create a source (pool) of funds for onward lending at a fair and reasonable rate of interest. We offer various Back-office loan products namely Normal, Emergency, School Fees and Jiinue Loans. Our Front office products include advances such as Salary, Bridging, Karibu, Premium Financing,  One, Three, Six and 12 Months Advances. Members can further save  by opening School Fee, Holiday, and Fixed Deposit Accounts.</p>
              <p class="w3ls-about-text">We have a wide reach of members all over the world who have come to depend on us as a trusted, dependable, stable and growing Sacco. We have a wide range of products to suit every member – from a child with a bright future to the oldest grandmother enjoying a great life.</p>
            
            </div>
            <div class="clearfix"> </div>
           </div>
      </div>
      <!-- //about top-->
      <!-- about bottom-->
      <div class="about-bottom">
        <div class="col-md-6 about-w3right">
          
        </div>
        <div class="col-md-6 about-w3left"> 
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h5 class="panel-title asd">
                  <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>About us
                  </a>
                </h5>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                <div class="panel-body panel_text">
                  Invictus Sacco is a Savings and Credit Co-operative Society registered in 1973 under the Co-operative Societies Act of the Laws of Kenya. The Sacco primarily mobilizes Savings and Deposits and extends Credit to its members thereby empowering them economically and socially.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h5 class="panel-title asd">
                  <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Our Vision
                  </a>
                </h5>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                <div class="panel-body panel_text">
                  To Be The Global Financial Movement That Enables You To Realize Your Dreams And Aspirations.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h5 class="panel-title asd">
                  <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Our Mission
                  </a>
                </h5>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false" style="height: 0px;">
                <div class="panel-body panel_text">
                 Transform Lives Through The Provision Of Innovative Financial Solutions.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                <h5 class="panel-title asd">
                  <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Core Values
                  </a>
                </h5>
              </div>
              <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour" aria-expanded="true">
                <div class="panel-body panel_text">
                  Innovation, Excellence, Boldness, Unity, Integrity and Sound Governance.
                </div>
              </div>
            </div>
          </div> 
        </div> 
        <div class="clearfix"> </div>
      </div>    
    </div>  
     

   <!--services-->
  <div class="w3ls-section services">
    <div class="container">
      <div class="services-left">
        <h4 class="title">Invictus Sacco</h4>
        <h5>we are better together.</h5>
        <p class="data">At Invictus we are bound by shared values that drive our purpose.</p>
        <div class="more">
          <a href="#" data-toggle="modal" data-target="#myModal"> Read More</a>
        </div>
      </div>
      <div class="services-right">
        <div class="services-grid">
          <div class="col-md-2 col-sm-2 col-xs-2 sr-icon">
            <span class="fa fa-lock" aria-hidden="true"></span>
          </div>  
          <div class="col-md-10 col-sm-10 col-xs-10 sr-txt">
            <h5>Harnessing Diversity for Good</h5>
            <p>Unlocking capital by harnessing the power of unity by bringing people together.</p>
          </div>  
          <div class="clearfix"></div>
        </div>
        <div class="services-grid">
          <div class="col-md-2 col-sm-2 col-xs-2 sr-icon">
            <span class="fa fa-clock-o" aria-hidden="true"></span>
          </div>  
          <div class="col-md-10 col-sm-10 col-xs-10 sr-txt">
            <h5>Design & Innovation</h5>
            <p>Designing flexible, accessible, and inclusive financial solutions.</p>
          </div>  
          <div class="clearfix"></div>
        </div>
        <div class="services-grid">
          <div class="col-md-2 col-sm-2 col-xs-2 sr-icon">
            <span class="fa fa-gg" aria-hidden="true"></span>
          </div>  
          <div class="col-md-10 col-sm-10 col-xs-10 sr-txt">  
            <h5>Working with what we have</h5>
            <p>Working with the available assets, opportunity, and potential, of those we seek to serve.</p>
          </div>
          <div class="clearfix"></div>
        </div>  
        <div class="services-grid">
          <div class="col-md-2 col-sm-2 col-xs-2 sr-icon">
            <span class="fa fa-credit-card-alt" aria-hidden="true"></span>
          </div>  
          <div class="col-md-10 col-sm-10 col-xs-10 sr-txt">  
            <h5>Growth of our resource</h5>
            <p>Continuously investing in the growth of our staff’s core competencies, exposing them to bigger responsibilities, as well as continual learning of other skills.</p>
          </div>  
          <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
 
  <!--//services-->
  <!-- testimonials -->
<div class="testimonials w3ls-section" id="testimonials">
  <div class="container"> 
    <h3 class="h3-w3l">Testimonials</h3>
    <div class="agile_testimonials_grids">
      <div class="col-md-6 col-sm-6 agile_testimonials_grid">
        <div class="agile_testimonials_grid1">
          <div class="w3_agile_testimonials_grid_right test-tooltip">
             <p>Invictus' support team is best rated in Kenya. Because it is super fast, very substantial and high professional. Fully satisfied with your products and services! </p>
          </div>
          <div class="w3_agile_testimonials_grid">
            <div class="w3_agile_testimonials_grid_left">
              <div class="col-md-3 col-sm-3 col-xs-3 w3l-testi-img">
                <img src="{% static 'invictus/images/13.jpg' %}" alt=" " class="img-responsive"/>
              </div>  
              <div class="col-md-9 col-sm-9 col-xs-9 w3l-testi-txt">
                <h4>Emmanuel</h4>
                <p>Team member</p>
              </div>  
              <div class="clearfix"> </div>
            </div>
          </div>
          
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 agile_testimonials_grid">
        <div class="agile_testimonials_grid1">
          <div class="w3_agile_testimonials_grid_right test-tooltip">
             <p>Invictus' support team is best rated in Kenya. Because it is super fast, very substantial and high professional. Fully satisfied with your products and services! </p>
          </div>
          <div class="w3_agile_testimonials_grid">
            <div class="w3_agile_testimonials_grid_left">
              <div class="col-md-3 col-sm-3 col-xs-3 w3l-testi-img">
                <img src="{% static 'invictus/images/12.jpg' %}" alt=" " class="img-responsive"/>
              </div>  
              <div class="col-md-9 col-sm-9 col-xs-9 w3l-testi-txt">
                <h4>Davie</h4>
                <p>Team member</p>
              </div>  
              <div class="clearfix"> </div>
            </div>
          </div>
          
          <div class="clearfix"> </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 agile_testimonials_grid">
        <div class="agile_testimonials_grid1">
          <div class="w3_agile_testimonials_grid_right test-tooltip">
            <p>Invictus' support team is best rated in Kenya. Because it is super fast, very substantial and high professional. Fully satisfied with your products and services! </p>
          </div>
          <div class="w3_agile_testimonials_grid">
            <div class="w3_agile_testimonials_grid_left">
              <div class="col-md-3 col-sm-3 col-xs-3 w3l-testi-img">
                <img src="{% static 'invictus/images/11.jpg' %}" alt=" " class="img-responsive"/>
              </div>  
              <div class="col-md-9 col-sm-9 col-xs-9 w3l-testi-txt">
                <h4>Felix</h4>
                <p>Team Leader</p>
              </div>  
              <div class="clearfix"> </div>
            </div>
          </div>          
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 agile_testimonials_grid">
        <div class="agile_testimonials_grid1">
          <div class="w3_agile_testimonials_grid_right test-tooltip">
            <p>Invictus' support team is best rated in Kenya. Because it is super fast, very substantial and high professional. Fully satisfied with your products and services! </p>
          </div>
          <div class="w3_agile_testimonials_grid">
            <div class="w3_agile_testimonials_grid_left">
              <div class="col-md-3 col-sm-3 col-xs-3 w3l-testi-img">
                <img src="{% static 'invictus/images/10.jpg' %}" alt=" " class="img-responsive" />
              </div>
              <div class="col-md-9 col-sm-9 col-xs-9 w3l-testi-txt">
                <h4>Kelly</h4>
                <p>Team member</p>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //testimonials -->


{% endblock %}


















