{% extends "invictus/header.html" %} 
{% block content %}
{% load static from staticfiles %}

	<div class=" w3ls-section" id="inner-about" style="background-color: white;">
		<div class="container">
			<h3 class="h3-w3l" style="color: #21a7e2;">Opening an account</h3>
		<div class="row content">
			<img src="{% static 'invictus/images/open_acc.jpeg' %}" style="height: 300px;" alt=" " class="img-responsive"/>
			
		</div>
		<hr>
		<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-4 sidenav">
    	<h3 style="color: #44e221;">opening an account</h3>
    	<br>
      <ul class="list-group">
	  <li class="list-group-item">The following are the processes of Opening an account.</li>
	  <li class="list-group-item">Visit to the Branch Customer Care desk or by dialing *346*1#  on your Safaricom line</li>
	  <li class="list-group-item">Depositing the minimum membership fee OTC or using Mpesa paybill 544700.</li>
	  <br> 
	  <img src="{% static 'invictus/images/open_acc1.jpg' %}"  alt=" " class="img-responsive"/> 
    </div>
    <div class="col-sm-4 text-left"> 
    	<img src="{% static 'invictus/images/open_acc2.jpg' %}"  alt=" " class="img-responsive"/> 
      <h3 style="color: #44e221;">Requirements</h3>
      <br>
      <ul class="list-group">
	  <li class="list-group-item">Identification document.</li>
	  <li class="list-group-item">Certified copy of ID or Passport.</li>
	  <li class="list-group-item">Passport photograph to be taken at the branch.</li>
	  <li class="list-group-item">Certified copy of Utility Bill/Tenancy agreement.</li>
	  <li class="list-group-item">Certified Copy of Pin Certificate.</li>
	  <br>
	  <center>
	  <a href="/member_reg/" style="width: 30%;" class="btn btn-info" role="button">Register</a>
	</center>
	</ul>
    </div>
    <div class="col-sm-4 sidenav">
    	<h3 style="color: #44e221;">Loan products</h3>
    	<br>
    	 <div class="list-group">
		  <a href="#" class="list-group-item">Development Loan</a>
		  <a href="#" class="list-group-item">Biashara Loan</a>
		  <a href="#" class="list-group-item">Salary Advance</a>
		  <a href="#" class="list-group-item">Business Quick Fix</a>
		  <br><hr>
		  <h3 style="color: #44e221;">Saving products</h3>
    	<br>
    	 <div class="list-group">
		  <a href="#" class="list-group-item">Timiza savings account</a>
		  <a href="#" class="list-group-item">Jipange Investment account</a>
		</div>       
    </div>
  </div>
</div>
	
		</div>
					
	</div>

{% endblock %}