{% extends "invictus/header.html" %}
{% block content %}
{% load static from staticfiles %}

	<div class=" w3ls-section" id="inner-about" style="background-color: white;">
		<div class="container">
			<h3 class="h3-w3l" style="color: #21a7e2;">Chama Account</h3>
		
		<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-3 sidenav">
    <img src="{% static 'invictus/images/banner.jpg' %}" style="height: 150px;" alt=" " class="img-responsive"/>
    </div>
    <div class="col-sm-7 text-left"> 
      <h3>What is it?</h3>
      <p>Savings Account product targeting registered investment groups engaged in common investments.</p>
      <hr>
      <h3>Features and Benefits</h3>
      <ul class="list-group">
	  <li class="list-group-item">Easy access to Investment Loans.</li>
	  <li class="list-group-item">Access to our Investment/Network forums.</li>
	  <li class="list-group-item">Mobile deposits to your account via Mpesa paybill 544700.</li>
	  <li class="list-group-item">Linkage to Investment opportunities.</li>
	  <li class="list-group-item">Free Investment advice.</li>
	  <li class="list-group-item">Loan upto 12 times savings.</li>
	  <li class="list-group-item">Loan Term upto 60 months.</li>
	  <li class="list-group-item">Competitive interest rate on savings.</li>
	  <li class="list-group-item">Competitive personal accident cover.</li>
	  <li class="list-group-item">Chequebook available upon application.</li>
	  <li class="list-group-item">Dedicated group relationship officer.</li>

	  <br>
	  <hr>
	  <h3>Requirements for opening a group account</h3>
	  <li class="list-group-item">Certified of Constitutional/Rules/By-laws.</li>
	  <li class="list-group-item">Certified copy of Certificate of Registration or Exemption Certificate.</li>
	  <li class="list-group-item">Certified copy of Board Resolution.</li>
	  <li class="list-group-item">List of Registered Officials.</li>
	  <li class="list-group-item">Certified copies of ID or Passport and PIN of Officials and/or Signatories.</li>
	  <br>
	</ul>
    </div>
    <div class="col-sm-2 sidenav">
    	<h3 style="color: #44e221;">Loan products</h3>
    	<br>
    	 <div class="list-group">
		  <a href="#" class="list-group-item">Development Loan</a>
		  <a href="#" class="list-group-item">Biashara Loan</a>
		  <a href="#" class="list-group-item">Salary Advance</a>
		  <a href="#" class="list-group-item">Business Quick Fix</a>
		  <br><hr>
		  <h3 style="color: #44e221;">Saving products</h3>
    	<br>
    	 <div class="list-group">
		  <a href="#" class="list-group-item">Timiza savings account</a>
		  <a href="#" class="list-group-item">Jipange Investment account</a>
		</div>       
    </div>
  </div>
</div>
	
		</div>	
			

			
	</div>

{% endblock %}