{% extends "invictus/header.html" %}
{% block content %}
{% load static from staticfiles %}

	<div class=" w3ls-section" id="inner-about" style="background-color: white;">
		<div class="container">
			<h3 class="h3-w3l" style="color: #21a7e2;">Timiza Savings Account</h3>
		
		<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-3 sidenav">
    <img src="{% static 'invictus/images/banner.jpg' %}" style="height: 150px;" alt=" " class="img-responsive"/>
    </div>
    <div class="col-sm-7 text-left"> 
      <h3>What is it?</h3>
      <p>Transact and access your savings regularly.</p>
      <hr>
      <h3>Features</h3>
      <ul class="list-group">
	  <li class="list-group-item">Free Mpesa deposits using paybill number 544700.</li>
	  <li class="list-group-item">No Operating balance.</li>
	  <li class="list-group-item">Free cash deposit.</li>
	  <li class="list-group-item">Access to Loan facilities.</li>
	  <li class="list-group-item">Unlimited withdrawal.</li>
	  <li class="list-group-item">No ledger Fee.</li>
	  <br>
	  <hr>
	  <h3>Benefits</h3>
	  <li class="list-group-item">Internal Cheque book provided on request.</li>
	  <li class="list-group-item">Interest earning threshold of Kshs 5,000/-.</li>
	  <li class="list-group-item">Competitive rate of interest.</li>
	  <li class="list-group-item">EMV Chip ATM card available.</li>
	  <li class="list-group-item">Transaction via mobile phone upon registration at the branch or via USSD Code *346*1#.</li>
	  <br>
	  <hr>
	  <h3>Requirements</h3>
	  <li class="list-group-item">ID card/passport.</li>
	  <li class="list-group-item">1 passport photo.</li>
	  <li class="list-group-item">1,000/= for membership(100 shares@10/=).</li>
	  <br>
	</ul>
    </div>
    <div class="col-sm-2 sidenav">
    	<h3 style="color: #44e221;">Loan products</h3>
    	<br>
    	 <div class="list-group">
		  <a href="#" class="list-group-item">Development Loan</a>
		  <a href="#" class="list-group-item">Biashara Loan</a>
		  <a href="#" class="list-group-item">Salary Advance</a>
		  <a href="#" class="list-group-item">Business Quick Fix</a>
		  <br><hr>
		  <h3 style="color: #44e221;">Saving products</h3>
    	<br>
    	 <div class="list-group">
		  <a href="#" class="list-group-item">Timiza savings account</a>
		  <a href="#" class="list-group-item">Jipange Investment account</a>
		</div>       
    </div>
  </div>
</div>
	
		</div>	
			

			
	</div>

{% endblock %}