{% extends "invictus/header.html" %}
{% block content %}
{% load static from staticfiles %}

	<div class=" w3ls-section" id="inner-about" style="background-color: white;">
		<div class="container">
			<h3 class="h3-w3l" style="color: #21a7e2;">Jipange Savings Account</h3>
		
		<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-3 sidenav">
    <img src="{% static 'invictus/images/banner.jpg' %}" style="height: 150px;" alt=" " class="img-responsive"/>
    </div>
    <div class="col-sm-7 text-left"> 
      <h3>What is it?</h3>
      <p>Dear {{ names }} welcome to invictus sacco.</p>
      <hr>
      <div class="panel panel-default">
      <div class="panel-body">
      	 <form method="post" enctype="multipart/form-data">
		    {% csrf_token %}
		    {{ form.as_p }}
		    <button type="submit">Upload</button>
		  </form>
		</div>
		</div>
	  
	</ul>
    </div>
    <div class="col-sm-2 sidenav">
    	<h3 style="color: #44e221;">Loan products</h3>
    	<br>
    	 <div class="list-group">
		  <a href="#" class="list-group-item">Development Loan</a>
		  <a href="#" class="list-group-item">Biashara Loan</a>
		  <a href="#" class="list-group-item">Salary Advance</a>
		  <a href="#" class="list-group-item">Business Quick Fix</a>
		  <br><hr>
		  <h3 style="color: #44e221;">Saving products</h3>
    	<br>
    	 <div class="list-group">
		  <a href="#" class="list-group-item">Timiza savings account</a>
		  <a href="#" class="list-group-item">Jipange Investment account</a>
		</div>       
    </div>
  </div>
</div>
	
		</div>	
			

			
	</div>

{% endblock %}